.A{
  background-color: rgb(0, 0, 0);
  height: 196px;
  width: 970px;
  margin: 60px;
 }
 h1{
   font-size: 20px;
   padding: 40px;
   padding-right: 100px;
   color: #FFFFFF;
   font-size: Poppins;
 }
 p{
   width: 450px;
   position: absolute;
   top: 120px;
   left: 105px;
   color: #FFFFFF;
 }
 span{
   font-weight: bold;
 }
 input{
   width:272px ;
   height:29px ;
   margin: 34px;
   margin-top: 5px;
 }
 button{
   width:150px ;
   height:35px ;
   margin-left: 386px;
   position: absolute;
   top: 180px;
   color: #fff;
   background: rgb(249,160,36);
   background: linear-gradient(90deg, rgb(241, 150, 23) 0%, rgb(146, 34, 221) 100%);
 }
 img{
   width: 304px ;
   position: absolute;
   left: 700px;
   top: 55px;
 }
 select{
   position: absolute;
   top: 191px;
   left: 350px;
   border: #fff;
 }
 .bng{
   width:2px ;
   height: 120px;
 }

  